#navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-custom {
    background-color: #9fedd7 !important;
}

body {
    background-color: #edeae5;
    position:relative;
    width:100vw;
    height: fit-content;
}

/*Page container without nav bar*/
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 85vh;
    padding: 2em;
}

/*Main page*/

.search-bar {
    border-radius: 20px;
    background-color: #9fedd7;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 12vh;
}

.search-input {
    width: 30vw;
    border-radius: 8px;
    height: 38px;
    vertical-align: middle;
}

.main-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 60vh;
    margin-top: 30px;
}

.txt-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.main-txt {
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    text-align: center;
}

.main-img {
    width: 80%;
}

/*Register page*/
.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    background-color: #9fedd7;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.register-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.mail-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.mail-hint {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    padding-left: 5px;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 80%;
    margin: 8px 0 8px 0;
}

/* Button design */

.btn-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.btn-custom:hover {
    color: black;
}

.submit-btn {
    width: 20%;
    font-size: 20px;
    margin-top: 5px;
}

/*Se puede sacar*/
.btn-custom-plus {
    margin-left: 5px;
}

.main-search {
    width: 200%;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px 30px;
}

.subject-price-input {
    width: 100px;
}

.subject-list {
    width: 80%;
    border-collapse: collapse;
}

.price-icon {
    margin: 0 10px;
}

.price-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.tutors-search {
    margin: 30px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {margin: auto;
}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}


/* search specific*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Tutor form */

.day {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

.lower-input {
    margin-top: 10px;
}

.section-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edf5e1;
    /*border: white 1px;*/
    height: fit-content;
    width: 60vw;
}

.subject-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #9fedd7;
    height: fit-content;
    width: 60vw;
}

.subject-title {
    margin-top: 30px;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align:center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

/*Timetable*/

.bg-light-gray {
    background-color: #f7f7f7;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.time-range{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: black;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}