.navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-custom {
    background-color: #9fedd7 !important;
}

body {
    background-color: #edeae5;
    position:relative;
    width:100vw;
    height: fit-content;
}

/*Page container without nav bar*/

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 85vh;
    padding: 2em;
}

/*Main page*/

.search-bar {
    border-radius: 20px;
    background-color: #9fedd7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 12vh;
}

.main-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 45vh;
    margin-top: 20px;
}

.txt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.main-txt {
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    text-align: center;
}

.main-img {
    width: 70%;
    margin-bottom: 18px;
}

/*Register page*/

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    background-color: #9fedd7;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.form-error {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: red;
    padding-left: 5px;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 100%;
    margin: 8px 0 8px 0;
}

.login-checkbox {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.checkbox {
    margin-right: 5px;
}

.account-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8px 0 5px 0;
    height: auto;
}

.account-check-text {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    margin: unset;
}

.account-check-link {
    text-underline: #026670;
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    margin-left: 5px;
}

.account-check-link:hover {
    cursor: pointer;
    color: black;
}

/* Button design */

.btn-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.btn-custom:hover {
    color: black;
}

.submit-btn {
    width: 20%;
    font-size: 20px;
    margin-top: 5px;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutors-search {
    margin: 30px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {margin: auto;
}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

/* search specific*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Tutor form */
.section-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edf5e1;
    /*border: white 1px;*/
    height: fit-content;
    width: 60vw;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align:center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}