#navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-custom {
    background-color: #C9FBFF !important;
}

body {
    background-color: #57737A;
    position:relative;
    width:100vw;
    height: 100vh;
    margin: auto;
}
.main-search {
    width: 200%;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}
.search-bar {
    border-radius: 20px;
    background-color: #C9FBFF;
    border: black 1px;
    width: 30vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    border-radius: 10px;
    border-color: black;
    background-color: #85BDBF;
    color: black !important;
}
.btn-custom-outline {
    border-radius: 10px;
    border-color: black;
    color: black;
}

.search{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    /*background: tomato;*/
    width: 50vw; height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

