#navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-custom {
    background-color: #C9FBFF !important;
}

body {
    background-color: #57737A;
    position:relative;
    width:100vw;
    height: 100vh;
    margin: auto;
}
.main-search {
    width: 200%;
}

.tutors-search {
    margin: 30px auto auto auto;
    width: 50vw;
}

#myInput {
    width: 30vw;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    border-radius: 20px;
    background-color: #C9FBFF;
    border: black 1px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.slogan-img {
    width: 40vw;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-custom {
    border-radius: 10px;
    border-color: black;
    background-color: #85BDBF;
    color: black !important;
}
.btn-custom-outline {
    border-radius: 10px;
    border-color: black;
    color: black;
}



.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

/* search specific*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
/*#myInput {*/
    /*box-sizing: border-box;*/
    /*background-image: url('searchicon.png');*/
    /*background-position: 14px 12px;*/
    /*background-repeat: no-repeat;*/
    /*font-size: 16px;*/
    /*padding: 14px 20px 12px 45px;*/
    /*border: none;*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/

/* The search field when it gets focus/clicked on */
/*#myInput:focus {outline: 3px solid #ddd;}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    /*display: flex;*/
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Tutor form */

.day {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

.form-control {
    height: 28px;
}

.mail-input {
    margin-top: 10px;
}

.section-container {
    margin: 15px 0px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #C9FBFF;
    border: black 1px;
    height: fit-content;
    width: 60vw;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0px 10px 0px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align:center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

/*Timetable*/

.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.text-light-gray {
    color: #d6d5d5;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.time-range{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}