.user-schedule-display{
    height: fit-content;
    margin-top: 1px;
    width: auto;
    background: white;
    padding: 16px 10px 16px 10px;
    word-break: break-all;
    /*box-shadow: -4px 5px 17px -7px rgba(0,0,0,70);*/
}

.schedule-form {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}

.navbar-custom {
    background-color: #9fedd7 !important;
}

body {
    background-color: #edeae5;
    position:relative;
    width:100vw;
    height: fit-content;
}

input {
    border-color: transparent;
}

input:focus {
    outline: none;
}

/*Page container without nav bar*/

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 2em;
}

/*Main page*/

.search-bar {
    border-radius: 20px;
    background-color: #9fedd7;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 12vh;
}

.search-bar > form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 45vh;
    margin-top: 20px;
}

.txt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.main-txt {
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    text-align: center;
}

.main-img {
    width: 70%;
    margin-bottom: 18px;
}

/*Register page*/

.form-container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    background-color: #9fedd7;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.form-error {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: red;
    padding-left: 5px;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 100%;
    margin: 8px 0 8px 0;
}

.login-checkbox {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.checkbox {
    margin-right: 5px;
}

.account-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8px 0 5px 0;
    height: auto;
}

.account-check-text {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    margin: unset;
}

.account-check-link {
    text-underline: #026670;
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    margin-left: 5px;
}

.account-check-link:hover {
    cursor: pointer;
    color: black;
}

.radio-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 8px;
    height: auto;
}

.rad-label {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(185, 96%, 22%, 0.35);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #026670;
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}

/* Subject form */

.price-form-control::-webkit-outer-spin-button,
.price-form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.subject-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.price-form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    padding: 5px;
    width: 65%;
    -moz-appearance:textfield;
}

.price-level-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin: 5px 0 5px 0;
}

.price-level-container > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    width: 35%;
}

.errors-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.subjects-table {
    width: 100%;
    margin: 12px 0 8px 0;
}

.subjects-row {
    background: hsla(185, 96%, 22%, 0.35);
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
}

.row-info {
    text-align: start;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.row-title {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
}

.remove-btn {
    align-items: center;
}

/* Profile */

.profile-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsla(185, 96%, 22%, 0.35);
    border-radius: 10px;
    margin: 8px;
}

.info-container > h1 {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    font-weight: bold;
    margin: 8px;
}

.info-container > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    margin: 8px;
}

.profile-section-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

.section-btn-container {
    display: flex;
    width: 100%;
    height: 8%;
}

.section-btn {
    width: 50%;
    height: 100%;
    font-size: 32px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgb(2, 102, 112);
    text-align: center;
    text-decoration: none;
}

.section-btn:hover{
    color: black;
}

.section-info {
    width: 100%;
    height: 92%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-info > table {
    margin: 10px 8px 8px 8px;
    width: 95%;
}

.section-info > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: black;
    margin: 8px;
    text-align: start;
}

/* Button design */

.btn-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.btn-custom:hover {
    color: black;
}

.pill-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.submit-btn {
    width: 20%;
    font-size: 20px;
    margin-top: 5px;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutors-search {
    margin: 30px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-horizontal { margin: auto;}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

.search-filters {
    display: flex;
    width: 40vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.filter-item {
    height: 30px;
    width: fit-content;
    border-radius: 3px;
    border-color: transparent;
    color: #ffffff;
    background-color: #848e8b;
    margin-left: 10px;
    padding: 0 10px 0 10px;
}
.filter-item:hover {
    background-color: #f49f0a80;
}
.filter-item:focus {
    background-color: #f49f0a;
}

.tutor-card {
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}

.tutor-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-text-custom {
    font-size: 0.8em;
    margin-bottom: 0;
}

.card-price {
    margin-top: 5px;
}

.not-found-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search specific*/

.search-input {
    width: 30vw;
    border-radius: 8px;
    height: 38px;
    vertical-align: middle;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Tutor form */
.section-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edf5e1;
    height: fit-content;
    width: 60vw;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align:center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

/*Timetable*/

.bg-light-gray {
    background-color: #f7f7f7;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.time-range{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: black;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.headerMain {
    background-color: white;
    background-size: auto;
    height: auto;
}

/*time form*/
.hour-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hour-separator {
    margin-left: 5px;
    margin-right: 5px;
}

/*Dropdown style*/

select {
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    border: none;
    background-color: white;
    height: 36px;
    padding-left: 5px;
    margin: 8px 0 8px 0;
    width: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") ;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
