.no-favourites {
    font-size: 24px;
    font-family: "Roboto Light", sans-serif;
    color: black;
    font-weight: bold;
}

.exception-msg {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.user-schedule-display {
    height: fit-content;
    margin-top: 1px;
    width: auto;
    background: white;
    padding: 16px 10px 16px 10px;
    word-break: break-all;
}

.nav-container {
    margin-top: 50px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}

.form-check-input:checked {
    background-color: #026670;
}

.filter-btn-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    /*animate: 0.2s;*/
    background: #026670;
    border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #026670;
}
.range-wrap{
    margin-top: 20px;
    position: relative;
}
.range-value{
    position: absolute;
    top: -50%;
}
.range-value span {
    width: 44px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #026670;
    color: #fff;
    font-size: 14px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
}
.range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #026670;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

#student-pending-tab {
    margin-left: -1px;
}

.tutors-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
}

.rating-radio { display:none; }

input[type="radio"]:checked + label {
    font-weight: bold;
}

.filter-ulist {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
}

.custom-active {
    background: #026670;
    color: white;
}
.custom-active:hover {
    background: rgb(49, 133, 140);
    color: white;
}

.filter-container {
    background: #9fedd7;
    border-radius: 8px;
    width: 16%;
    height: fit-content;
    margin-left: 20px;
    min-width: 200px;
    padding-top: 10px;
    max-width: 280px;
    min-height: 620px;
    max-height: 700px;
}

.search-and-results-container {
    display: flex;
    width: 84%;
    flex-direction: column;
    align-items: center;
}

.classes-separator-container {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: flex-start;
}

.empty-classes-title {
    text-align: center;
    margin-top: 50px;
}

.main-tab-container {
    background: #9eebd6;
    height: 50vh;
    width: 13%;
    margin-right: 8px;
    border-radius: 10px;
}

.nav-link-custom {
    color: #2c2525;
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
}

.nav-link-custom:hover {
    color: #ffffff;
    background: rgba(2, 102, 112, 0.07);
}

.tabs-container {
    width: 70.08vw;
    background: #9eebd6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.classes-container {
    width: 70vw;
    background: white;
    border-bottom: 10px;
    height: 60vh;
    padding: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
}

.schedule-form {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn-container {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.nav-sections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.nav-sections {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-sections > li {
    margin: 0 10px 0 10px;
}

.nav-item > a:hover {
    color: black;
}

.active-section {
    text-decoration: underline;
    text-decoration-color: #026670;
}

.nav-drop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15vw;
    padding-right: 5px;
}

.nav-drop > li {
    list-style-type: none;
}

.dropdown-toggle:hover {
    border-color: transparent;
    color: black;
}

.dropdown-item:hover {
    background: hsla(185, 96%, 22%, 0.35);
}

.nav-btn {
    margin: 0 5px 0 5px;
}

.nav-icon {
    margin-left: 25px;
    display: flex;
    width: fit-content;
}

.nav-font {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: #026670 !important;
    font-weight: bold;
}

.nav-custom {
    background-color: #9fedd7 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

body {
    background-color: #edeae5;
    position: relative;
    width: 100vw;
    height: fit-content;
}

input {
    border-color: transparent;
}

input:focus {
    outline: none;
}

/*Page container without nav bar*/

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 2em;
    min-width: 600px;
}

/*Main page*/

.search-bar {
    border-radius: 20px;
    background-color: #9fedd7;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: 90px;
}

.search-bar > form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#query {
    border-radius: 8px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 85%;
    margin-right: 5px;
}

.main-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 45vh;
    margin-top: 20px;
}

.txt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.main-txt {
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    text-align: center;
}

.main-img {
    width: 70%;
    margin-bottom: 18px;
}

/*Register page*/

.form-container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    background-color: #9fedd7;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.form-error {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: red;
    padding-left: 5px;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 100%;
    margin: 8px 0 8px 0;
}

.login-checkbox {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.checkbox {
    margin-right: 5px;
}

.account-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8px 0 5px 0;
    height: auto;
}

.account-check-text {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    margin: unset;
}

.account-check-link {
    text-underline: #026670;
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    margin-left: 5px;
}

.account-check-link:hover {
    cursor: pointer;
    color: black;
}

.radio-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 8px;
    height: auto;
}

.rad-label {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(185, 96%, 22%, 0.35);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #026670;
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked + .rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .3s;
}

.rad-input:checked ~ .rad-text {
    color: hsl(0, 0%, 40%);
}

/* Subject form */

.price-form-control::-webkit-outer-spin-button,
.price-form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.subject-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.price-form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    padding: 5px;
    width: 65%;
    -moz-appearance: textfield;
}

.price-level-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin: 5px 0 5px 0;
}

.price-level-container > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    width: 35%;
}

.errors-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.review-section-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-profile {
    width: 96%;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    background-color: hsla(185, 96%, 22%, 0.35);
    padding: 8px;
}

.review-header-profile {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.subjects-table {
    width: 100%;
    margin: 12px 0 8px 0;
}

.subjects-row {
    background: hsla(185, 96%, 22%, 0.35);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    width: 100%;
}

.row-info {
    text-align: start;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.row-title {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
}

.remove-btn {
    align-items: center;
}

/* Profile */

.profile-container {
    width: 70.1vw;;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(185, 96%, 22%, 0.35);
    border-radius: 10px;
    margin: 8px;
    min-height: 200px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 85%;
    margin: 10px 10px 10px 0;
}

.like-btn {
    height: 30px;
    width: 30px;
}

.profile-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin: 8px;
}

.profile-name > h1 {
    font-size: 32px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    font-weight: bold;
}

.profile-info-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.profile-btn {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
}

.info-container > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    margin: 8px;
}

.section-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-desc-sch {
    width: 96%;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    background: hsla(185, 96%, 22%, 0.35);
    padding: 12px;
}

.profile-desc-sch > h1 {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

.profile-desc-sch > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: black;
    margin-bottom: 8px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*end of snackbar*/

.rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.profile-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.profile-stars > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    margin: 0 0 0 5px;
}

.review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-subjects {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.subjects-info {
    display: table;
    width: 96%;
    margin: 10px 0 8px 0;
}

.section-info > p {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: black;
    margin: 8px;
    text-align: start;
}

/* Edit profile */

.img-upload {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 8px;
}

.edit-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 15px;
}

label:hover {
    color: white;
}

.class-content {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.class-side-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    padding: 8px;
}

.file-upload {
    width: 94%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    height: fit-content;
    margin: 5px 0 5px 0;
}

.text-input {
    width: 80%;
    height: 50px;
    margin: 5px;
    justify-content: start;
    align-self: initial;
}

.upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex: 0 0 auto;
    padding: 5px 0 5px 0;
}

.profile-img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin: 15px;
    border-radius: 5px;
}

.tutor-img {
    max-width: 100%;
    height: 225px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.checked {
    color: orange;
}

.save-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}

/* Button design */

.btn-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.btn-custom:hover {
    color: black;
}

.pill-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.submit-btn {
    width: fit-content;
    font-size: 20px;
    margin: 5px 5px 0 5px;
}

.sign-btn {
    width: 20%;
    font-size: 20px;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutors-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: -40px;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {
    margin: auto;
}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}


.search-filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filter-item {
    height: 30px;
    width: fit-content;
    border-radius: 3px;
    border-color: transparent;
    color: #ffffff;
    background-color: #848e8b;
    margin-left: 10px;
    padding: 0 10px 0 10px;
}

.filter-item:hover {
    background-color: #f49f0a80;
}

.filter-item:focus {
    background-color: #f49f0a;
}

.tutor-card {
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
    width: 225px;
    height: 350px;
}

.tutor-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-text-custom {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto Light", sans-serif;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.card-price {
    margin-top: 5px;
    font-size: 0.8em;
    font-family: "Roboto Light", sans-serif;
}

.not-found-header {
    margin-top: 20px;;
    align-self: center;
}

/* search specific*/

.search-input {
    width: 30vw;
    border-radius: 8px;
    height: 38px;
    vertical-align: middle;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Tutor form */
.section-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edf5e1;
    height: fit-content;
    width: 60vw;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align: center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

/*Timetable*/

.bg-light-gray {
    background-color: #f7f7f7;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.time-range {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: black;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.headerMain {
    background-color: white;
    background-size: auto;
    height: auto;
}

/*time form*/
.hour-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hour-separator {
    margin-left: 5px;
    margin-right: 5px;
}

/*Dropdown style*/

select {
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    border: none;
    background-color: white;
    height: 36px;
    padding-left: 5px;
    margin: 8px 0 8px 0;
    width: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

/*Class card style*/

.class-cancel-btn {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.cancel-btn {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.class-card-btn-holder {
    width: fit-content;
    margin: 0;
    float: left;
}

.class-card-active-btn-holder {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*Class style*/

.class-img-header {
    width: 90%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
}

.class-section-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-row-section-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.posts-big-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-box {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.class-link {
    color: blue;
    text-decoration: underline;
    margin-top: 5px;
}

.class-card-holder {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.class-card {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
}
