.navbarNav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}

.navbar-custom {
    background-color: #9fedd7 !important;
}

body {
    background-color: #edeae5;
    position:relative;
    width:100vw;
    height: fit-content;
}

/*Page container without nav bar*/

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 85vh;
    padding: 2em;
}

/*Main page*/

.search-bar {
    border-radius: 20px;
    background-color: #9fedd7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 12vh;
}

.main-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 45vh;
    margin-top: 20px;
}

.txt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.main-txt {
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    text-align: center;
}

.main-img {
    width: 70%;
    margin-bottom: 18px;
}

/*Register page*/

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    background-color: #9fedd7;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.form-error {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: red;
    padding-left: 5px;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
    width: 100%;
    margin: 8px 0 8px 0;
}

.login-checkbox {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.checkbox {
    margin-right: 5px;
}

.account-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8px 0 5px 0;
    height: auto;
}

.account-check-text {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: #026670;
    margin: unset;
}

.account-check-link {
    text-underline: #026670;
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    margin-left: 5px;
}

.account-check-link:hover {
    cursor: pointer;
    color: black;
}

.radio-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 8px;
    height: auto;
}

.rad-label {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(185, 96%, 22%, 0.35);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #026670;
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #026670;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}

/* Button design */

.btn-custom {
    border-radius: 10px;
    background-color: #026670;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    border-color: transparent;
}

.btn-custom:hover {
    color: black;
}

.submit-btn {
    width: 20%;
    font-size: 20px;
    margin-top: 5px;
}

/*Subject input*/

.subject-input-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.subject-input-form {
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    height: fit-content;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutors-search {
    margin: 30px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.section-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-horizontal { margin: auto;}

.align-vertically-center {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

/*tutors page*/
div.bg-tutors-card-custom {
    background-color: #C9FBFF !important;
}

.search-filters {
    display: flex;
    width: 40vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.filter-item {
    height: 30px;
    width: fit-content;
    border-radius: 3px;
    border-color: transparent;
    color: #ffffff;
    background-color: #848e8b;
    margin-left: 10px;
    padding: 0 10px 0 10px;
}
.filter-item:hover {
    background-color: #f49f0a80;
}
.filter-item:focus {
    background-color: #f49f0a;
}

.tutor-card {
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}

.tutor-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-text-custom {
    font-size: 0.8em;
    margin-bottom: 0;
}

.card-price {
    margin-top: 5px;
}

.not-found-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search specific*/

.search-input {
        width: 30vw;
        border-radius: 8px;
        height: 38px;
        vertical-align: middle;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Tutor form */
.section-container {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edf5e1;
    /*border: white 1px;*/
    height: fit-content;
    width: 60vw;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 0 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section-title {
    font-family: "Roboto Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    width: 50%;
    text-align:center;
}

.subject-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.subject-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.subject-check-label {
    margin-left: 5px;
    font-family: "Roboto Light", sans-serif;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

/*Timetable*/

.bg-light-gray {
    background-color: #f7f7f7;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.time-range{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: black;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.headerMain {
    background-color: white;
    background-size: auto;
    height: auto;
}

/*time form*/
.hour-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hour-separator {
    margin-left: 5px;
    margin-right: 5px;
}

