.Main {
    width: 100vw;
    min-height: 100vh;
    padding: 2em 4em 2em 4em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 15px;
}

.TabContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #9eebd6;
    height: 50vh;
    width: 20%;
    margin-right: 8px;
    border-radius: 10px;
    margin: 0;
}