.customNav {
    background-color: #9fedd7;
    padding: 5px 18px 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28vw;
    margin: 0;
    padding: 0;
}

.font {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: #026670 !important;
    font-weight: bold;
}
