.Card {
    width: 100%;
    height: 28vh;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.Subject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 15px 0 25px;
    background-color: #f2f2f2;
    width: 30%;
    height: 100%;
}

.SubjectText {
    font-size: 1.15vw;
    color: #026670;
    margin-bottom: 5px;
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 15px 15px 25px;
    height: 100%;
}

.Title {
    font-size: 2vw;
    font-weight: bold;
    color: #026670;
    text-align: start;
}

.BodyMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.Teacher {
    font-size: 1.5vw;
    font-weight: bold;
}

.Text {
    font-size: 1.15vw;
    margin-bottom: 5px;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    column-gap: 8px;
}